<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
</head>
<body>
    <h1>Formulario de Nombres</h1>
    <form method="POST" action="/ejercicio2">
        <label>Nombre 1:</label>
        <input type="text" name="nombre1" required><br><br>

        <label>Nombre 2:</label>
        <input type="text" name="nombre2" required><br><br>

        <label>Nombre 3:</label>
        <input type="text" name="nombre3" required><br><br>

        <button type="submit">Enviar</button>
    </form>

    {% if nombre_mayor %}
        <hr>
        <h3>Resultado:</h3>
        <p>El nombre con mayor cantidad de caracteres es: <strong>{{ nombre_mayor }}</strong></p>
        <p>El nombre tiene: <strong>{{ longitud }}</strong> caracteres.</p>
    {% endif %}

    <br><br>
    <a href="/">Volver al Menú Principal</a>
</body>
</html>